<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="$(arg name)">

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="name" default="ur5"/>

  <!-- include ur5 macro -->
  <xacro:include filename="$(find ur5_description)/urdf/ur5_joints_links.xacro" />
  <xacro:ur5_joints_links />

  <!-- include transmissions -->
  <xacro:include filename="$(find ur5_description)/urdf/ur5_transmissions.xacro" />
  <xacro:ur5_transmissions />

  <!-- include ur5 ros2_control description -->
  <xacro:include filename="$(find ur5_description)/urdf/ur5.ros2_control.xacro" />
  <xacro:ur5_ros2_control />

</robot>


