<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5_ros2_control">

    <!-- !! ros2 gazebo force torque sensor does not work well with ros2 control !! -->

    <!-- <gazebo>

      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so" >
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find gazebo_robot_sim)/config/robot_controllers.yaml</parameters>
      </plugin>

      <plugin name="gazebo_ros_ft_sensor_1" filename="libgazebo_ros_ft_sensor.so" >
        <ros>
          <namespace>/gazebo_sensors</namespace>
          <remapping>wrench:=ft_sensor_1</remapping>
        </ros>
        <joint_name>joint1</joint_name>
        <update_rate>50</update_rate>
        <gaussian_noise>0.01</gaussian_noise>
      </plugin>

      <plugin name="gazebo_ros_ft_sensor_2" filename="libgazebo_ros_ft_sensor.so" >
        <ros>
          <namespace>/gazebo_sensors</namespace>
          <remapping>wrench:=ft_sensor_2</remapping>
        </ros>
        <joint_name>joint2</joint_name>
        <update_rate>50</update_rate>
        <gaussian_noise>0.01</gaussian_noise>
      </plugin>

      <plugin name="gazebo_ros_ft_sensor_3" filename="libgazebo_ros_ft_sensor.so" >
        <ros>
          <namespace>/gazebo_sensors</namespace>
          <remapping>wrench:=ft_sensor_3</remapping>
        </ros>
        <joint_name>joint3</joint_name>
        <update_rate>50</update_rate>
        <gaussian_noise>0.01</gaussian_noise>
      </plugin>

      <plugin name="gazebo_ros_ft_sensor_4" filename="libgazebo_ros_ft_sensor.so" >
        <ros>
          <namespace>/gazebo_sensors</namespace>
          <remapping>wrench:=ft_sensor_4</remapping>
        </ros>
        <joint_name>joint4</joint_name>
        <update_rate>50</update_rate>
        <gaussian_noise>0.01</gaussian_noise>
      </plugin>

      <plugin name="gazebo_ros_ft_sensor_5" filename="libgazebo_ros_ft_sensor.so" >
        <ros>
          <namespace>/gazebo_sensors</namespace>
          <remapping>wrench:=ft_sensor_5</remapping>
        </ros>
        <joint_name>joint5</joint_name>
        <update_rate>50</update_rate>
        <gaussian_noise>0.01</gaussian_noise>
      </plugin>

      <plugin name="gazebo_ros_ft_sensor_6" filename="libgazebo_ros_ft_sensor.so" >
        <ros>
          <namespace>/gazebo_sensors</namespace>
          <remapping>wrench:=ft_sensor_6</remapping>
        </ros>
        <joint_name>joint6</joint_name>
        <update_rate>50</update_rate>
        <gaussian_noise>0.01</gaussian_noise>
      </plugin>

    </gazebo> -->



    <!-- <gazebo reference="joint1">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo reference="joint2">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo reference="joint3">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo reference="joint4">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo reference="joint5">
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo reference="joint6">
      <provideFeedback>true</provideFeedback>
    </gazebo> -->



    <ros2_control name="UR5_Arm_Hardware_Interface" type="system">

      <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <joint name="joint1">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="joint2">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="joint3">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>

        <param name="initial_position">1.5</param>

      </joint>

      <joint name="joint4">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="joint5">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="joint6">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
