<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5_ros2_control">

    <!-- ROS2 Control Plugin-->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find gazebo_robot_sim)/config/robot_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <!-- Initial Positions Config -->

    <xacro:property
        name="initial_positions"
        value="${xacro.load_yaml('$(find ur5_description)/config/initial_positions.yaml')['initial_positions']}"
    />

    <!-- ROS2 Control Hardware Interface-->

    <ros2_control name="UR5_Arm_Hardware_Interface" type="system">

      <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="joint_1">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

        <param name="initial_position">${initial_positions['joint_1']}</param>

      </joint>

      <joint name="joint_2">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

        <param name="initial_position">${initial_positions['joint_2']}</param>

      </joint>

      <joint name="joint_3">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

        <param name="initial_position">${initial_positions['joint_3']}</param>

      </joint>

      <joint name="joint_4">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

        <param name="initial_position">${initial_positions['joint_4']}</param>

      </joint>

      <joint name="joint_5">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

        <param name="initial_position">${initial_positions['joint_5']}</param>

      </joint>

      <joint name="joint_6">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

        <param name="initial_position">${initial_positions['joint_6']}</param>

      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
